@charset "UTF-8";

ul, li {
   list-style: none;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
header, nav, aside, footer, section {
   font-family : "Nanum Gothic", sans-serif;
   
}

#asideleft {
       float: left;
      width: 400px;
      height: 3000px;
      
}

#asideright {
       float: right;
      width: 400px;
      height: 3000px;
      

} 

#kkkk {
   height: 30px;
   
}

#headerjirong {
    height: 50px;
}

section {
   width:1100px;   
   float:left;
    height: 3000px;
}

/* 전체적인 레이아웃 설정 */
#main {
   width:1900px;
   height : 3000px;
   overflow: hidden;
}